<div class="wrapper">
    <div class="container">
        <h1>Где найти?</h1>
    </div>
</div>
<div class="row">
    <div id="map" style="width: 90%; height: 450px" #yamaps></div>

    <div class="info">
        <h1 class="office">
            Contact Center
        </h1>
        <div class="numbers">
            <div class="number">
                <div class="item"><img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-06T101314772.phone.png" alt="" class="icon"><span class="phone">1315</span></div>
                <span class="desc">contact center</span>
            </div>
            <div class="number">
                <div class="item"><img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-06T101314772.phone.png" alt="" class="icon"><span class="phone">+373 22 45 06 03</span></div>
                <span class="desc">международный центр</span>
            </div>
        </div>
        <p class="email">
            autoservice@auto.com
        </p>
        <h1 class="office">
            Head Office
        </h1>
        <p class="address">
            MD 2005 Республика Молдова, мун. Кишинев, ул. Штефан Чел Маре Ши Сфынт 1
        </p>
    </div>
</div>


