<div class="container">
    <div class="top">
        <div class="sign" *ngIf="!isLoggedIn">
            <span class="menu-item">Логин</span> / <span class="menu-item">Регистрация</span>
        </div>
    </div>
    <div class="image">
        <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T162516178.5f2a7106e772032f4a7ae.jpg" alt="">
    </div>
    <div class="menu">
        <a href="" class="menu-item" routerLink="services">
            Услуги
        </a>
        <a href="" class="menu-item" routerLink="masters">
            Мастера
        </a>
        <a href="" class="menu-item" routerLink="contacts">
            Связаться
        </a>
    </div>
</div>

