<div class="wrapper">
    <div class="container">
        <h1>Услуги</h1>
        <div class="list">
            <div class="column">
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Замена масла в АКПП частичная</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Аппаратная замена масла в АКПП</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Проточка, замена тормозных дисков</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Ремонт ходовой</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Компьютерная диагностика</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Керамика кузова</p>
                </div>
            </div>




            <div class="column">
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Регулировка фар</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Замена тормозной жидкости</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Полировка фар</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Полировка кузова</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Предпродажный осмотр</p>
                </div>
                <div class="item">
                    <img src="https://typostorage.blob.core.windows.net/avatars/34_Dmitrii+Romanenco2023-02-05T205518896.346fa546a9d095826f914.png" class="icon" alt=""><p>Ремонт автомат. коробок</p>
                </div>
            </div>
        </div>
    </div>
</div>




















