.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.avatar {
  width: 200px;
  border-radius: 50%;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}

.name {
  font-size: 30px;
  font-weight: 900;
}

.info-line {
  padding: 15px 0px;
}

.button-container {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit {
  width: 47%;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.15s all ease-in;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #fca130;
  color: white;
  cursor: pointer;

}

.edit:hover {
  background-color: #cf8730;
  color: white;
  border-radius: 20px;


}

.additional-info {
  margin-left: 60px;
}

#file {
  width: 80%;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ececee;
  box-shadow: 0 2px 3px -1px #25252505, 0 2px 4px -1px #0000000f;
  // padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;


}

#file:focus {
  outline: none;
}

label {
  margin-top: 18px;
  margin-bottom: 18px;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}


.save {
  width: 47%;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.15s all ease-in;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #49cc90;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.save:hover {
  background-color: #3b9c70;
  color: white;
  border-radius: 20px;


}

.cancel {
  width: 47%;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.15s all ease-in;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #f93e3e;
  color: white;
  cursor: pointer;

}

.cancel:hover {
  background-color: #bd3b3b;
  color: white;
  border-radius: 20px;


}

.wrapper-edit {


  .parent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  select {
    width: 88%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ececee;
    box-shadow: 0 2px 3px -1px #25252505, 0 2px 4px -1px #0000000f;
    // padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 15px;
    outline: none;
  }

  .background {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .window {
    margin: 0 auto;
    vertical-align: middle;
    // background-color: red;
    // width: 200px;
    // height: 200px;
    z-index: 3;
    text-align: center;

    // display: flex;
    // justify-content: center;
  }



  form {
    // margin: 0 auto;
    // background-color: white;
    // border: 1px solid #3d3d3d;
    // box-shadow: 0 4px 6px -1px #0000001a,0 2px 4px -1px #0000000f;
    border-radius: 10px;
    padding: 20px;
    width: 400px;

  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
  }

  #container {
    width: 334px;
    height: 332px;
    margin-top: 15vh;
    margin-bottom: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  input {
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ececee;
    box-shadow: 0 2px 3px -1px #25252505, 0 2px 4px -1px #0000000f;
    // padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 15px;

  }

  input:focus {
    outline: none;
  }

  label {
    margin-top: 18px;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  img {
    height: 615px;
    width: 615px;
    position: absolute;
    z-index: -1;
  }


  .grandParentContaniner {
    position: absolute;
    text-align: center;
    // margin-bottom: 200px;
    justify-content: center;

  }

  small {
    font-size: 10px;
    display: block;
    transition: all 0.5s ease;
    color: #f8514a;
  }

  #invalid {
    color: #e38a8a;
  }

  button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-image: none;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.25rem;
    border-width: 1px;
    background-color: #f8514a;
    border: none;
    color: white;
    transition: background 0.4s;
  }

  button:hover {
    background: #c3403b;

  }

  #yet {
    display: block;
    color: #a9a9a9;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .ng-dirty.ng-invalid:not(form) {
    border: 1px solid #f8504a3d;
    /* red */
    background-color: #ffa8a562;
  }

  .ng-valid:not(form) {
    border: 1px solid #5dc65f3d;
    /* red */
    background-color: #a8ffa562;

  }


  //------------------



  :host {
    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field {
        color: black;
        border: transparent !important;
        background-color: white;
        box-shadow: none;
        text-align: center;
        display: none;
      }

      .mat-form-field-underline {
        display: none; //
      }

      .mat-form-field-appearance {
        display: none !important;
        color: transparent;
      }

      .mat-focused .mat-form-field-outline .mat-form-field-outline-start,
      .mat-focused .mat-form-field-outline .mat-form-field-outline-gap,
      .mat-focused .mat-form-field-outline .mat-form-field-outline-end {
        border-bottom: none;
        border-radius: 0;
        color: transparent;
      }

      .mat-form-field-infix {
        border: transparent;
      }


      .mat-input-element {}

      ::placeholder {
        color: lightgrey;
      }


      .mat-form-field input {
        height: 20px;
        transition: height ease-in-out 400ms;
      }

      .mat-form-field input:focus {}

      // .mat-focused
      .mat-form-field-label {
        /*change color of label*/
        color: transparent !important;
      }

      .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: transparent !important;
      }

      .mat-form-field-outline-start,
      .mat-form-field-outline-end {
        border-radius: 0px !important;
      }

      .mat-form-field-outline {}

      .mat-form-field-fill {}

      .mat-form-field-standard {}

      .mat-button-base {
        border-radius: 0px !important;

      }
    }
  }
}
